<div class="content-wrapper d-flex"
    style="flex-direction: column; font-family: 'Roboto Condensed', sans-serif !important; height: 100vh">
    <div class="row justify-content-center mb-5 pb-4" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
        <div class="col-12 mt-5 mb-5 d-flex justify-content-center unselectable"
            style="padding: 0 60px; flex-direction: column; flex-grow: 1; flex-basis: auto;">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                <b>
                                    Frequently asked questions
                                </b>
                            </h3>
                        </div>
                    </div>

                    <div class="row">
                        <ul>
                            <li>
                                <h4>> Who are we?</h4>
                                <p>Morbi hendrerit elit ut lectus congue interdum. Aenean malesuada nisl eu lobortis
                                    pellentesque. In fermentum elit non sagittis fringilla. Mauris viverra elit et ex
                                    vulputate commodo. Fusce a lorem ut enim convallis lobortis quis in orci. Interdum
                                    et malesuada fames ac ante ipsum primis in faucibus. Donec consequat, libero at
                                    euismod elementum, nisl libero varius urna, eget luctus velit magna non augue.
                                    Mauris ullamcorper lorem metus, sed tempor est efficitur id. Sed interdum libero vel
                                    purus tincidunt ullamcorper. Suspendisse nibh diam, pharetra sed nulla nec, congue
                                    consequat felis.</p>
                            </li>
                            <li>
                                <h4>> Who is this forum for?</h4>
                                <p>Donec lacinia eleifend viverra. Praesent non risus ac dolor rutrum imperdiet non sed
                                    nunc. Aenean faucibus condimentum porttitor. Fusce facilisis nulla ac pulvinar
                                    mattis. Ut nec dolor quis ligula molestie laoreet. Mauris eget scelerisque elit.
                                    Nullam nec enim est. Quisque sit amet mauris sagittis, accumsan nulla vel, ornare
                                    neque.</p>
                            </li>
                            <li>
                                <h4>> Why should I join?</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas libero non
                                    odio venenatis, vitae posuere erat facilisis. Curabitur consectetur pulvinar dictum.
                                    Vivamus ac mauris ornare leo interdum malesuada. Nam fermentum blandit turpis sed
                                    malesuada. Ut pellentesque est in purus posuere semper. Mauris imperdiet et felis at
                                    porttitor. Vivamus scelerisque nisl sed sem scelerisque convallis.</p>
                            </li>
                            <li>
                                <h4>> What if someone is harrasing me?</h4>
                                <p>We have admins & mods :)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>