td {
    border: none !important;
}

tr:hover {
    background-color: #dadada !important;
}

th {
    background-color: white !important;
    border: none !important;
    border-bottom: 1px #c8c8c8 solid !important;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 30vh;
    max-height: 40vh;
}

.profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.follow-thread-button:hover {
    color: #1a2445;
    text-decoration: underline;
}

.remove-thread-button:hover {
    color: red;
    text-decoration: underline;
}
